
body {
  background-color:#FAF6E9;
}


.container {
  width: 800px;
  font-family: "Lora", serif;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  color:gray;

}

.img-profile {
  width: 20%;
  border-radius: 50%;
}

.card-white {
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  line-height: 1.6;
  background-color: white;
  border:1px solid gray;
  box-shadow: 1px 15px 30px gray;
}

li {
  list-style: none;
  display: inline-block;
  margin-right: 3rem;
  padding: 20px;
  text-align: center;
}

.list-inline {
  text-align: center;
}

a {
  text-decoration: none;
  color: #27548A;
  padding: 10px;
}

.url-school {
text-transform: uppercase;
border: 1px solid black;
border-radius: 8px;
background-color: #27548A;
color: antiquewhite;
}

a:hover {
  color:#9EC6F3;
  transition: 0.5s;
}

.title, .sub-title {
  color:#27548A;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.title {
  font-size: 25px;
}

.sub-title{
  font-size: 20px;
}

i {
  font-size: 50px;
}



@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
    font-size: 10px;
  }
  .url-school {
    font-size: 10px;
    white-space: nowrap;
    text-align: center;
    margin-left: -1.5rem;

  }

}
